/*
	Author: Nicdark
	Author URI: http://www.nicdarkthemes.com/
*/


/****************************************************************************
	Table of Content
***************************************************************************


SOME CLASSES THAT YOU CAN APPLY TO ALL ELEMENTS FOR DECIDE THE GRAPHIC
	1- background class
	2- border color options
	3- shadow color for elements
	4- radius options
	5- strike text


SOME SHORTCODES FOR CREATE YOUR PAGES
	6- logo options
	7 button rules
	8- btn icon
	9- btn icon bg
	10- divider
	11- dropcaps
	12- alerts
	13- iframe
	14- accordion
	15- toogle
	16- progress bar
	17- tabs
	18- list
	19- table
	20- filter
	21- left sidebar
	22- right sidebar
	23- triangle


SOME CLASSES FOR MARGIN, PADDING AND POSITION OPTIONS
	24- block
	25- display none
	26- padding
	27- space
	28- margin
	29- size
	30- absolute
	31- relative
	32- height


SOME CLASSES FOR ARCHIVE SECTION
	33- textevidence
	34- focus
	35- archive
	36- activity
	37- mansonry


EFFECTS HOVER
	38- rotate
	39- press
	40- zoom
	41- opacity
	42- transition
	43- bg


JQUERY UI
	44- calendar
	45- tooltip
	46- slide range

*/




/***********************SOME CLASSES THAT YOU CAN APPLY TO ALL ELEMENTS FOR DECIDE THE GRAPHIC*************************************/



/* 1 - START NICDARKBG*/
.nicdark_bg_transparent{ background-color: transparent; }
.nicdark_bg_white{ background-color: #ffffff; }
.nicdark_bg_grey{ background-color: #fafafa; }
.nicdark_bg_grey2{ background-color: #eeeeee; }
.nicdark_bg_greydark{ background-color: #585858;}
.nicdark_bg_greydark2{ background-color: #6c6975;}
.nicdark_bg_green{ background-color: #d19fae; }
.nicdark_bg_blue{ background-color: #cd98a8; }
.nicdark_bg_violet{ background-color: #c792a2; }
.nicdark_bg_orange{ background-color: #e4d0c2; }
.nicdark_bg_red{ background-color: #c38e9e; }
.nicdark_bg_yellow{ background-color: #e4e3c2; }
.nicdark_bg_greendark{ background-color: #afceba; }
.nicdark_bg_bluedark{ background-color: #afcece; }
.nicdark_bg_violetdark{ background-color: #c4afce; }
.nicdark_bg_orangedark{ background-color: #e3bea5; }
.nicdark_bg_reddark{ background-color: #ceafb5; }
.nicdark_bg_yellowdark{ background-color: #cecdaf; }
.nicdark_bg_gradient{ 
	background: #585858; /* Old browsers */
    background: -moz-linear-gradient(left, #585858 0%, #585858 50%, #d19fae 51%, #d19fae 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#585858), color-stop(50%,#585858), color-stop(51%,#d19fae), color-stop(100%,#d19fae)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #585858 0%,#585858 50%,#d19fae 51%,#d19fae 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #585858 0%,#585858 50%,#d19fae 51%,#d19fae 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #585858 0%,#585858 50%,#d19fae 51%,#d19fae 100%); /* IE10+ */
    background: linear-gradient(to right, #585858 0%,#585858 50%,#d19fae 51%,#d19fae 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#d19fae',GradientType=1 ); /* IE6-9 */
}
.nicdark_bg_gradient2{ 
	background: #d19fae; /* Old browsers */
	background: -moz-linear-gradient(left, #d19fae 0%, #d19fae 50%, #6c6975 50%, #6c6975 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d19fae), color-stop(50%,#d19fae), color-stop(50%,#6c6975), color-stop(100%,#6c6975)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #d19fae 0%,#d19fae 50%,#6c6975 50%,#6c6975 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #d19fae 0%,#d19fae 50%,#6c6975 50%,#6c6975 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #d19fae 0%,#d19fae 50%,#6c6975 50%,#6c6975 100%); /* IE10+ */
	background: linear-gradient(to right, #d19fae 0%,#d19fae 50%,#6c6975 50%,#6c6975 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d19fae', endColorstr='#6c6975',GradientType=1 ); /* IE6-9 */	
}
/*END NICDARKBG*/



/* 2- START NICDARKBORDER: applica l'ombra del colore selezionato*/
.nicdark_border_white, .nicdark_border_white td, .nicdark_border_white th{ border: 1px solid #ffffff !important;}
.nicdark_border_grey, .nicdark_border_grey td, .nicdark_border_grey th{ border: 1px solid #eeeeee !important; }
.nicdark_border_grey2, .nicdark_border_grey2 td, .nicdark_border_grey2 th{ border: 1px solid #e5e5e5; }
.nicdark_border_greydark, .nicdark_border_greydark td, .nicdark_border_greydark th{ border: 1px solid #6c6975; }
.nicdark_border_greydark2, .nicdark_border_greydark2 td, .nicdark_border_greydark2 th{ border: 1px solid #353b3d; }
.nicdark_border_green, .nicdark_border_green td, .nicdark_border_green th{ border: 1px solid #d19fae; }
.nicdark_border_blue, .nicdark_border_blue td, .nicdark_border_blue th{ border: 1px solid #afcece; }
.nicdark_border_violet, .nicdark_border_violet td, .nicdark_border_violet th{ border: 1px solid #c4afce; }
.nicdark_border_orange, .nicdark_border_orange td, .nicdark_border_orange th{ border: 1px solid #e3bea5; }
.nicdark_border_red, .nicdark_border_red td, .nicdark_border_red th{ border: 1px solid #ceafb5; }
.nicdark_border_yellow, .nicdark_border_yellow td, .nicdark_border_yellow th{ border: 1px solid #cecdaf; }
.nicdark_border_greendark, .nicdark_border_greendark td, .nicdark_border_greendark th{ border: 1px solid #afceba; }
.nicdark_border_bluedark, .nicdark_border_bluedark td, .nicdark_border_bluedark th{ border: 1px solid #6dc0d5; }
.nicdark_border_violetdark, .nicdark_border_violetdark td, .nicdark_border_violetdark th{ border: 1px solid #a675af; }
.nicdark_border_orangedark, .nicdark_border_orangedark td, .nicdark_border_orangedark th{ border: 1px solid #d8734c; }
.nicdark_border_reddark, .nicdark_border_reddark td, .nicdark_border_reddark th{ border: 1px solid #bf6363; }
.nicdark_border_yellowdark, .nicdark_border_yellowdark td, .nicdark_border_yellowdark th{ border: 1px solid #d4ae49; }
/*bottom*/
.nicdark_border_bottom_white { border-bottom: 1px solid #ffffff !important; }
.nicdark_border_bottom_grey { border-bottom: 1px solid #eeeeee !important; }
.nicdark_border_bottom_greydark2 { border-bottom: 1px solid #6c6975 !important; }
/*top*/
.nicdark_border_top_grey { border-top: 1px solid #eeeeee; }
.nicdark_border_top_grey.dashed{ border-top-style: dashed; }

.nicdark_border_left_white { border-left: 2px solid #ffffff !important; }

/*END NICDARKBORDER*/



/* 3- START NICDARKSHADOW: applica l'ombra in base al colore dato usando la classe nicdark_bg_colore*/
.nicdark_shadow.nicdark_bg_grey{ box-shadow: 0px 4px 0px 0px #eeeeee; }
.nicdark_shadow.nicdark_bg_grey2{ box-shadow: 0px 4px 0px 0px #e5e5e5; }
.nicdark_shadow.nicdark_bg_greydark{ box-shadow: 0px 4px 0px 0px #6c6975; }
.nicdark_shadow.nicdark_bg_greydark2{ box-shadow: 0px 4px 0px 0px #353b3d; }
.nicdark_shadow.nicdark_bg_green{ box-shadow: 0px 4px 0px 0px #d19fae; }
.nicdark_shadow.nicdark_bg_blue{ box-shadow: 0px 4px 0px 0px #afcece; }
.nicdark_shadow.nicdark_bg_violet{ box-shadow: 0px 4px 0px 0px #c4afce; }
.nicdark_shadow.nicdark_bg_orange{ box-shadow: 0px 4px 0px 0px #e3bea5; }
.nicdark_shadow.nicdark_bg_red{ box-shadow: 0px 4px 0px 0px #ceafb5; }
.nicdark_shadow.nicdark_bg_yellow{ box-shadow: 0px 4px 0px 0px #cecdaf; }
.nicdark_shadow.nicdark_bg_greendark{ box-shadow: 0px 4px 0px 0px #afceba; }
.nicdark_shadow.nicdark_bg_bluedark{ box-shadow: 0px 4px 0px 0px #6dc0d5; }
.nicdark_shadow.nicdark_bg_violetdark{ box-shadow: 0px 4px 0px 0px #a675af; }
.nicdark_shadow.nicdark_bg_orangedark{ box-shadow: 0px 4px 0px 0px #d8734c; }
.nicdark_shadow.nicdark_bg_reddark{ box-shadow: 0px 4px 0px 0px #bf6363; }
.nicdark_shadow.nicdark_bg_yellowdark{ box-shadow: 0px 4px 0px 0px #d4ae49; }
/*END NICDARKSHADOW*/


/*START NICDARK TEXT SHADOW*/
.nicdark_text_shadow{ text-shadow: 0px 1px 0px #C3C2C5; }
/*END NICDARK TEXT SHADOW*/


/* 4 -START NICDARK_RADIUS*/
.nicdark_radius{ border-radius: 20px 20px 20px 20px;}
.nicdark_radius_top{ border-radius: 5px 5px 0px 0px; }
.nicdark_radius_bottom{ border-radius: 0px 0px 5px 5px; }
.nicdark_radius_left{ border-radius: 5px 0px 0px 5px; }
.nicdark_radius_right{ border-radius: 0px 5px 5px 0px; }
.nicdark_radius_circle{ border-radius: 100%; }
/*END NICDARK_RADIUS*/



/* 5- START NICDARK_STRIKE*/
.nicdark_strike{ text-decoration: line-through; }
/*END NICDARK_STRIKE*/


/*OBLIQUE*/
.nicdark_oblique_right{
transform: skew(-20deg)translate(10px); 
-o-transform: skew(-20deg)translate(10px); 
-moz-transform: skew(-20deg)translate(10px);
-webkit-transform: skew(-20deg)translate(10px); 
}
.nicdark_oblique_left{
transform: skew(20deg)translate(-10px); 
-o-transform: skew(20deg)translate(-10px); 
-moz-transform: skew(20deg)translate(-10px);
-webkit-transform: skew(20deg)translate(-10px); 
}
.nicdark_oblique{ font-style: oblique; }
/*END OBLIQUE*/



/*****************************************SOME SHORTCODES FOR CREATE YOUR PAGES********************************************/



/* 6 - START LOGO*/
.nicdark_logo{ float: left; position: relative; width: 10px; height: 10px; }
.nicdark_logo img{ position: absolute; width: 222px; margin-top: -5px; border:0;}
/*END LOGO*/


/* 7 - START NIKBTN:*/
.nicdark_btn{ font-family: 'Halant', sans-serif; display: inline-block; text-align: center; cursor: pointer;}
.nicdark_btn.title{ font-family: 'Cinzel', sans-serif !important; }
.nicdark_btn.left{ float: left;}
.nicdark_btn.right{ float: right;}
.nicdark_btn.fullwidth{ padding-left: 0px !important; padding-right: 0px !important; width: 100%;}
/*size*/
.nicdark_btn.extrasmall{ padding: 0px 10px; font-size: 13px; }
.nicdark_btn.small{ padding: 5px 10px; font-size: 15px; }
.nicdark_btn.medium{ padding: 10px 20px; font-size: 17px; }
.nicdark_btn.big{ padding: 15px 20px; font-size: 19px; }
.nicdark_btn.extrasize{ padding: 20px; font-size: 45px; line-height: 45px; }
/*END NIKBTN*/



/* 8 - START NIKBTNICON:*/
.nicdark_btn_icon{ font-family: 'Halant', sans-serif; display: inline-block; text-align: center; cursor: pointer;}
.nicdark_btn_icon.title{ font-family: 'Cinzel', sans-serif !important; }
.nicdark_btn_icon > i{ display: inline-block; width: 20px; height: 20px; }
.nicdark_btn_icon > i:before{ margin: 0px; padding:0px; }
.nicdark_btn_icon.left{ float: left;}
.nicdark_btn_icon.right{ float: right;}
/*size*/
.nicdark_btn_icon.extrasmall{ padding: 5px; font-size: 14px; }
.nicdark_btn_icon.small{ padding: 10px; font-size: 15px; }
.nicdark_btn_icon.medium{ padding: 15px; font-size: 17px; }
.nicdark_btn_icon.big{ padding: 20px; font-size: 19px; }
/*extra big*/
.nicdark_btn_icon.extrabig > i{ display: inline-block; width: 40px; height: 40px; }
.nicdark_btn_icon.extrabig{ padding: 20px; font-size: 32px; }
/*END NIKBTNICON*/



/* 9 - START NIKBTNICON:*/
.nicdark_btn_iconbg{ display: inline-block; }
.nicdark_btn_iconbg > div{ overflow: hidden; position: relative; }
/*size*/
.nicdark_btn_iconbg.small, .nicdark_btn_iconbg.small > div{ width: 40px; height: 40px; }
.nicdark_btn_iconbg.medium, .nicdark_btn_iconbg.medium > div{ width: 50px; height: 50px; }
.nicdark_btn_iconbg.big, .nicdark_btn_iconbg.big > div{ width: 60px; height: 60px; }
.nicdark_btn_iconbg.extrabig, .nicdark_btn_iconbg.extrabig > div{ width: 80px; height: 80px; }
/*END NIKBTNICON*/



/*START NICDARKICONBG*/
.nicdark_iconbg{ position: absolute; bottom: -15px;}
/*position*/
.nicdark_iconbg.left{ left: -20px;}
.nicdark_iconbg.right{ right: -20px;}
/*size*/
.nicdark_iconbg.small{ font-size: 40px; }
.nicdark_iconbg.medium{ font-size: 50px; }
.nicdark_iconbg.big{ font-size: 60px; }
.nicdark_iconbg.extrabig{ font-size: 80px; }
/*color*/
.nicdark_iconbg.grey{ color: #eeeeee; }
.nicdark_iconbg.green{ color: #d19fae; }
.nicdark_iconbg.blue{ color: #afcece; }
.nicdark_iconbg.violet{ color: #c4afce; }
.nicdark_iconbg.orange{ color: #e3bea5; }
.nicdark_iconbg.red{ color: #ceafb5; }
.nicdark_iconbg.yellow{ color: #cecdaf; }
/*END NICDARKICONBG*/



/* 10 - START NIKDIVIDER: color, align, size*/
.nicdark_divider{ float: left; width: 100%;}
.nicdark_divider > span{ display: block; margin:auto; }
/*align*/
.nicdark_divider.left > span{ float: left; }
.nicdark_divider.right > span{ float: right; }
/*size*/
.nicdark_divider.big > span{ width: 80px; height: 3px; }
.nicdark_divider.small > span{ width: 30px; height: 2px; }
/*END NIKDIVIDER*/



/* 11- START NICDARKDROPCAP*/
.nicdark_dropcap{ float: left; font-size: 35px; line-height: 20px; padding: 15px; margin-right: 20px; }
/*END NICDARKDROPCAP*/

/* 12 - START NIKALERTS*/
.nicdark_alerts{ float: left; width: 100%; overflow: hidden; position: relative; }
.nicdark_alerts > p > .iconclose{ cursor: pointer; }
/*END NIKALERTS*/

/* 13 - START NICDARKIFRAME*/
.nicdark_iframe{ float: left; width: 100%; border: 0; }
/*END NICDARKIFRAME*/


/* 14 - START NIKACCORDION*/
.nicdark_accordion{ float: left; width: 100%; }
.nicdark_accordion .ui-accordion-header-active { cursor: initial !important; }
.nicdark_accordion .nicdark_accordion_header{ outline: 0; cursor: pointer; margin-bottom: 20px; }
.nicdark_accordion_content{ padding: 0px 20px 20px 20px; }
/*size*/
.nicdark_accordion_header.small{ padding: 5px 10px; }
.nicdark_accordion_header.medium{ padding: 10px 20px; }
.nicdark_accordion_header.big{ padding: 15px 20px; }
/*icon*/
.nicdark_accordion .ui-accordion-header-active:before { content: '\e846' !important; font-family: 'fontello'; margin-right: 10px; }
.nicdark_accordion .ui-accordion-header:before { content: '\e842'; font-family: 'fontello'; margin-right: 10px; }
/*END NIKACCORDION*/


/* 15  - START NIKTOOGLE*/
.nicdark_toogle{ float: left; width: 100%; }
.nicdark_toogle_content{ padding: 20px; }
.nicdark_toogle .nicdark_toogle_header{ outline: 0; cursor: pointer; float: none; width: initial; }
/*size*/
.nicdark_toogle_header.small{ padding: 5px 10px; }
.nicdark_toogle_header.medium{ padding: 10px 20px; }
.nicdark_toogle_header.big{ padding: 15px 20px; }
/*icon*/
.nicdark_toogle .ui-accordion-header-active:before { content: '\e8c8' !important; font-family: 'fontello'; margin-right: 10px; }
.nicdark_toogle .ui-accordion-header:before { content: '\e8c9'; font-family: 'fontello'; margin-right: 10px; }
/*END NIKTOOGLE*/


/* 16 - START NIKPROGRESSBAR*/
.nicdark_progressbar{ float:left; width:100%; }
.nicdark_progressbar_title{ margin: 0px; padding:0px; min-height: 20px; -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease; }
.nicdark_progressbar_title > span{ padding:0px; display:inline-block;}
/*animate*/
.animate_progressbar{ width: 0% !important; }
/*END NIKPROGRESSBAR*/


/* 17 - START NICDARKTABS*/
.nicdark_tab{ float: left; width: 100%; }
.nicdark_tabs{ float: left; width: 100%; }
.nicdark_tab > .nicdark_tabslist{ margin: 0px; padding: 0px; list-style: none; float: left; width: 100%; }
.nicdark_tab > .nicdark_tabslist > li{ margin: 0px; padding: 0px; float: left; }
.nicdark_tab > .nicdark_tabslist > li > a{ outline: 0; display: block; }
.nicdark_tab > .nicdark_tabslist > .ui-tabs-active > a{ background-color: #ffffff !important; color: #b7b7b7 !important; box-shadow: 0px 0px 0px 0px #eeeeee; }
.nicdark_tab > .nicdark_tabslist.greydark > .ui-tabs-active > a{ background-color: #585858 !important; color: #fff !important; box-shadow: 0px 0px 0px 0px #eeeeee; }
/*END NICDARKTABS*/


/* 18 - START NICDARKLIST*/
.nicdark_list{ float: left; width: 100%; list-style: none; margin: 0px; padding: 0px; }
.nicdark_list > li{ float: left; width: 100%; border-top: 0px; border-left: 0px; border-right: 0px; border-width: 1px; }
.nicdark_list > li:last-child{ border-bottom-width: 0px; }
/*END NICDARKLIST*/


/* 19 - START NICDARKTABLE*/
.nicdark_table{ float:left; width: 100%; border-collapse: collapse; }
.nicdark_table thead, .nicdark_table tbody { border-width: 0px; }
.nicdark_table tr td, .nicdark_table tr th{ border-width: 1px; }
/*size*/
.nicdark_table.small tr td, .nicdark_table.small tr th{ padding: 5px 10px; }
.nicdark_table.medium tr td, .nicdark_table.medium tr th{ padding: 10px 20px; }
.nicdark_table.big tr td, .nicdark_table.big tr th{ padding: 15px 20px; }
.nicdark_table.extrabig tr td, .nicdark_table.extrabig tr th{ padding: 20px 20px; }
/*align*/
.nicdark_table.center{ text-align: center; }
.nicdark_table.left{ text-align: left; }
.nicdark_table.right{ text-align: right; }
/*END NICDARKTABLE*/



/* 20 - START NICDARKFILTER*/
.nicdark_filter{ float: left; width: 100%; }
.nicdark_filter.center{ text-align: center; }
.nicdark_filter.grey { background: rgba(238,238,238,0.2); }
.nicdark_filter.greydark { background: rgba(88,88,88,0.2); }
.nicdark_filter.greydark1 { background: rgba(88,88,88,0.3); }
.nicdark_filter.greydark2 { background: rgba(88,88,88,0.5); }
.nicdark_filter.greydark3 { background: rgba(88,88,88,0.8); }
.nicdark_filter.green { background: rgba(175,206,186,0.8); }
.nicdark_filter.blue { background: rgba(175,206,206,0.8); }
.nicdark_filter.violet { background: rgba(197,175,206,0.8); }
.nicdark_filter.yellow { background: rgba(206,205,175,0.8); }
.nicdark_filter.orange { background: rgba(227,190,165,0.8); }
.nicdark_filter.red { background: rgba(206,175,181,0.8); }
.nicdark_filter.white { background: rgba(255,255,255,0.97); }
/*END NICDARKFILTER*/


/* 21 - 22 - START NICDARKLEFTSIDEBAR*/
.nicdark_left_sidebar{ width:300px; height:100%; position:fixed; left:-300px; top:0px; z-index:99999; -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease; }
.nicdark_right_sidebar{ width:300px; height:100%; position:fixed; right:-300px; top:0px; z-index:99999; -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease; }
/*overlay*/
.nicdark_overlay_on{float: left; width: 100%; height: 100%; background:rgba(0,0,0,0.3); position: fixed; z-index: 999; cursor: crosshair; -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease; }
/*END NICDARKLEFTSIDEBAR*/



/* 23 - START NICDARKTRIANGLE*/
.nicdark_triangle{ width: 0px; height: 0px; border-style: solid; border-width: 15px 15px 0 15px; position: absolute; }
/*color*/
.nicdark_triangle.grey{ border-color: #eeeeee transparent transparent transparent; }
.nicdark_triangle.greydark{ border-color: #6c6975 transparent transparent transparent; }
.nicdark_triangle.green{ border-color: #d19fae transparent transparent transparent; }
.nicdark_triangle.blue{ border-color: #afcece transparent transparent transparent;  }
.nicdark_triangle.violet{ border-color: #c4afce transparent transparent transparent;}
.nicdark_triangle.orange { border-color: #e3bea5 transparent transparent transparent;  }
.nicdark_triangle.red{ border-color: #ceafb5 transparent transparent transparent; }
.nicdark_triangle.yellow{ border-color: #cecdaf transparent transparent transparent; }
/*END NICDARKTRIANGLE*/



/*START NICDARK PRELOADER*/
.nicdark_preloader{ float: left; width: 100%; height: 100%; position: fixed; background-color: #fff; display: table; z-index: 10001; text-align: center; }
.nicdark_preloader i{ display: table-cell; vertical-align: middle; font-size: 30px; -webkit-animation: nicdark_pulse 1s infinite linear; animation: nicdark_pulse 1s infinite linear; }

@-webkit-keyframes nicdark_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes nicdark_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


@-webkit-keyframes nicdark_pulse {
  0% {
    -webkit-transform:scale(1.0, 1.0);
	-o-transform:scale(1.0, 1.0);
	transform:scale(1.0, 1.0);
  }
  50% {
    -webkit-transform:scale(1.3, 1.3);
	-o-transform:scale(1.3, 1.3);
	transform:scale(1.3, 1.3);
  }
  100% {
    -webkit-transform:scale(1.0, 1.0);
	-o-transform:scale(1.0, 1.0);
	transform:scale(1.0, 1.0);
  }
}
@keyframes nicdark_pulse {
  0% {
    -webkit-transform:scale(1.0, 1.0);
	-o-transform:scale(1.0, 1.0);
	transform:scale(1.0, 1.0);
  }
  50% {
    -webkit-transform:scale(1.3, 1.3);
	-o-transform:scale(1.3, 1.3);
	transform:scale(1.3, 1.3);
  }
  100% {
    -webkit-transform:scale(1.0, 1.0);
	-o-transform:scale(1.0, 1.0);
	transform:scale(1.0, 1.0);
  }
}

/*END NICDARK PRELOADER*/

/***************************SOME CLASSES FOR MARGIN/SPACE/POSITION/HEIGHT/DISPLAY BETWEEN ELEMENTS***************************************************/

/* 24 - SOME CLASSES*/
.nicdark_block{ display: block !important; }
.nicdark_outline { outline: 0; }
.nicdark_overflow { overflow: hidden; }
.nicdark_sizing { box-sizing:border-box; }
.nicdark_display_inlineblock { display: inline-block; }
.nicdark_display_table { display: table; }
.nicdark_cell { display: table-cell !important; }
.nicdark_vertical_middle { vertical-align: middle; text-align: center; }
.nicdark_vertical_bottom { vertical-align: bottom; }
.nicdark_center { text-align: center; }
.nicdark_left { text-align: left; }
.nicdark_disable_float { float: initial !important; }

/* 25 - display*/
.nicdark_displaynone_desktop { display: none; }
.nicdark_displaynone { display: none !important; }

/* 26 - padding*/
.nicdark_padding0{ padding: 0px !important; }
.nicdark_padding20{ padding: 20px !important; }
.nicdark_padding40{ padding: 40px !important; }
.nicdark_padding50{ padding: 5px 0px !important; }
.nicdark_padding510{ padding: 5px 10px !important; }
.nicdark_padding520{ padding: 5px 20px !important; }
.nicdark_padding200{ padding: 20px 0px !important; }
/*left*/
.nicdark_paddingleft0{ padding-left: 0px !important; }
/*right*/
.nicdark_paddingright30{ padding-right: 30px !important; }


/* 27 - START NIKSPACE: attribuisco la classe nicdark_space ad un div vuoto per fare degli spazi tra gli elementi*/
.nicdark_space3{ height: 3px; width: 100%; float: left; } .nicdark_space_block3{ height: 3px; width: 100%; }
.nicdark_space5{ height: 5px; width: 100%; float: left; } .nicdark_space_block5{ height: 5px; width: 100%; }
.nicdark_space10{ height: 10px; width: 100%; float: left; } .nicdark_space_block10{ height: 10px; width: 100%; }
.nicdark_space15{ height: 15px; width: 100%; float: left; } .nicdark_space_block15{ height: 15px; width: 100%; }
.nicdark_space20{ height: 20px; width: 100%; float: left; } .nicdark_space_block20{ height: 20px; width: 100%; }
.nicdark_space25{ height: 25px; width: 100%; float: left; } .nicdark_space_block25{ height: 25px; width: 100%; }
.nicdark_space30{ height: 30px; width: 100%; float: left; } .nicdark_space_block30{ height: 30px; width: 100%; }
.nicdark_space40{ height: 40px; width: 100%; float: left; } .nicdark_space_block40{ height: 40px; width: 100%; }
.nicdark_space50{ height: 50px; width: 100%; float: left; } .nicdark_space_block50{ height: 50px; width: 100%; }
.nicdark_space60{ height: 60px; width: 100%; float: left; } .nicdark_space_block60{ height: 60px; width: 100%; }
.nicdark_space70{ height: 70px; width: 100%; float: left; } .nicdark_space_block70{ height: 70px; width: 100%; }
.nicdark_space80{ height: 80px; width: 100%; float: left; } .nicdark_space_block80{ height: 80px; width: 100%; }
.nicdark_space90{ height: 90px; width: 100%; float: left; } .nicdark_space_block90{ height: 90px; width: 100%; }
.nicdark_space100{ height: 100px; width: 100%; float: left; } .nicdark_space_block100{ height: 100px; width: 100%; }
/*END NIKSPACE*/


/* 28 - START NICDARKMARGIN*/
.nicdark_margin05{ margin: 0px 5px; padding: 0px; display: inline-block; }
.nicdark_margin5{ margin: 5px; padding: 0px; display: inline-block; }
.nicdark_margin10{ margin: 10px; padding: 0px; display: inline-block; }
.nicdark_margin100{ margin: 10px 0px; padding: 0px; display: inline-block; }
.nicdark_margin150{ margin: 15px 0px; padding: 0px; display: inline-block; }
.nicdark_margin1525{ margin: 15px 25px; padding: 0px; display: inline-block; }
.nicdark_margin20{ margin: 20px; padding: 0px; display: inline-block; }
.nicdark_margin020{ margin: 0px 20px; padding: 0px; display: inline-block; }
.nicdark_margin200{ margin: 20px 0px; padding: 0px; display: inline-block; }
.nicdark_margin010{ margin: 0px 10px; padding: 0px; display: inline-block; }
.nicdark_margin1820{ margin: 18px 20px; padding: 0px; display: inline-block; }
.nicdark_margin30{ margin: 30px; padding: 0px; display: inline-block; }
.nicdark_margin40{ margin: 40px; padding: 0px; display: inline-block; }
.nicdark_margin2040{ margin: 20px 40px; padding: 0px; display: inline-block; }
/*left*/
.nicdark_marginleft0{ margin-left: 0px; }
.nicdark_marginleft5{ margin-left: 5px; }
.nicdark_marginleft10{ margin-left: 10px; }
.nicdark_marginleft20{ margin-left: 20px; }
.nicdark_marginleft50{ margin-left: 50px; }
.nicdark_marginleft60{ margin-left: 60px; }
.nicdark_marginleft70{ margin-left: 70px; }
.nicdark_marginleft80{ margin-left: 80px; }
.nicdark_marginleft85{ margin-left: 85px; }
.nicdark_marginleft90{ margin-left: 90px; }
.nicdark_marginleft100{ margin-left: 100px; }
.nicdark_marginleft110{ margin-left: 110px; }
.nicdark_marginleft120{ margin-left: 120px; }
.nicdark_marginleft130{ margin-left: 130px; }
.nicdark_marginleft140{ margin-left: 140px; }
.nicdark_marginleft150{ margin-left: 150px; }
.nicdark_marginleft160{ margin-left: 160px; }
.nicdark_marginleft170{ margin-left: 170px; }
/*right*/
.nicdark_marginright0{ margin-right: 0px; }
.nicdark_marginright5{ margin-right: 5px; }
.nicdark_marginright10{ margin-right: 10px; }
.nicdark_marginright20{ margin-right: 20px; }
/*top*/
.nicdark_margintop0{ margin-top: 0px !important; }
.nicdark_margintop60{ margin-top: 60px; }
/*END NICDARKMARGIN*/


/* 28 - START MARGIN NEGATIVE*/
/*top*/
.nicdark_margintop10_negative { margin-top: -10px !important; }
.nicdark_margintop20_negative { margin-top: -20px !important; }
.nicdark_margintop30_negative { margin-top: -30px !important; }
.nicdark_margintop40_negative { margin-top: -40px !important; }
.nicdark_margintop45_negative { margin-top: -45px !important; }
.nicdark_margintop50_negative { margin-top: -50px !important; }
.nicdark_margintop60_negative { margin-top: -60px !important; }
.nicdark_margintop70_negative { margin-top: -70px !important; }
/*bottom*/
.nicdark_marginbottom10_negative { margin-bottom: -10px !important; }
.nicdark_marginbottom20_negative { margin-bottom: -20px !important; }
.nicdark_marginbottom30_negative { margin-bottom: -30px !important; }
.nicdark_marginbottom40_negative { margin-bottom: -40px !important; }
.nicdark_marginbottom50_negative { margin-bottom: -50px !important; }
.nicdark_marginbottom60_negative { margin-bottom: -60px !important; }
.nicdark_marginbottom70_negative { margin-bottom: -70px !important; }
.nicdark_marginbottom80_negative { margin-bottom: -80px !important; }
.nicdark_marginbottom90_negative { margin-bottom: -90px !important; }
/*END MARGIN NEGATIVE*/



/* 29 - NICDARKSIZE: APPLICARE la calsse solo al testo per distanziarlo dal box*/
.nicdark_size_normal{ margin: 10px; }
.nicdark_size_small{ margin: 5px 10px; }
.nicdark_size_medium{ margin: 10px 20px; }
.nicdark_size_big{ margin: 15px 20px; }
.nicdark_size_extrabig{ margin: 20px; }
/*NICDARKSIZE*/


/* 30 - START NICDARKABSOLUTE*/
.nicdark_absolute{ position:absolute; left: 0;}
.nicdark_absolute_floatnone{ position:absolute; }
.nicdark_absolute_bottom{ position:absolute; bottom: 0;}
.nicdark_absolute_left{ position:absolute; margin-top: 20px; margin-left: 20px; }
.nicdark_absolute_right{ position:absolute; margin-top: 20px; margin-right: 20px; right:0;}
/*10 margin*/
.nicdark_absolute_right10{ position:absolute; margin-top: 10px; margin-right: 10px; right:0;}
/*END NICDARKABSOLUTE*/



/* 31 - START NICDARKRELATIVE*/
.nicdark_relative{ position:relative;}
/*END NICDARKABSOLUTE*/



/* 32 - START NICDARKHEIGHT*/
.nicdark_height100percentage{ height: 100%; }
.nicdark_height46{ height: 46px; }
.nicdark_height100{ height: 100px; }
.nicdark_height150{ height: 150px; }
.nicdark_height200{ height: 200px; }
.nicdark_height250{ height: 250px; }
.nicdark_height280{ height: 280px; }
.nicdark_height300{ height: 300px; }
.nicdark_height350{ height: 350px; }
.nicdark_height400{ height: 400px; }
.nicdark_height450{ height: 450px; }
.nicdark_height500{ height: 500px; }
.nicdark_height560{ height: 560px; }
.nicdark_height590{ height: 590px; }
.nicdark_height600{ height: 600px; }
/*END NICDARKHEIGHT*/



/**********************************SOME CLASSES FOR DIV ARCHIVE**********************************************************************/



/* 33 - START NIKTEXTEVIDENCE*/
.nicdark_textevidence{ float: left; width: 100%; position: relative; overflow: hidden; }
/*align*/
.nicdark_textevidence.center{ text-align: center; }
.nicdark_textevidence.left{ text-align: left; }
.nicdark_textevidence.right{ text-align: right; }
/*overflow*/
.nicdark_textevidence.overflow_scroll { overflow-x:auto !important; }
/*END NIKTEXTEVIDENCE*/


/* 34 - START NICDARKFOCUS*/
.nicdark_focus{ float: left; width: 100%; }
.nicdark_focus.center{ text-align: center; }
.nicdark_focus.right{ text-align: right; }
/*END NICDARKFOCUS*/


/* 35 - START NICDARKARCHIVE1*/
.nicdark_archive1{ float: left; width: 100%; position: relative; overflow: hidden; }
.nicdark_archive1.center{ text-align: center; }
.nicdark_archive1 img{ width: 100%; height: auto; display: block;}
/*END NICDARKARCHIVE1*/


/* 36 - START NICDARKACTIVITY*/
.nicdark_activity{ float: left; }
.nicdark_activity.center{ text-align: center; }
.nicdark_activity.right{ float: right; }
/*END NICDARKACTIVITY*/


/* 37  -  START NICDARKMASONRYCONTAINER*/
.nicdark_masonry_btns{ float: left; width: 100%; }
.nicdark_masonry_container{ float: left; width: 100%; -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
/*END NICDARKMASONRYCONTAINER*/




/***************************************************HOVER CLASSES EFFECT***********************************************************************/


/* 38 - rotate*/
.nicdark_rotate{
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.nicdark_rotate:hover {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}


/* 39 - press*/
.nicdark_press{
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.nicdark_press:hover {
  box-shadow: 0px 0px 0px 0px transparent !important;
  margin-top: 4px;
  margin-bottom: -4px;
}


/* pulse*/
.nicdark_pulse_infinite{ -webkit-animation: nicdark_pulse 2s infinite linear; animation: nicdark_pulse 2s infinite linear; }


/* 40 - nicdark_zoom*/
.nicdark_zoom_hover { -webkit-transition:all 500ms; -o-transition:all 500ms; transition:all 500ms; }
.nicdark_zoom_hover:hover{ -webkit-transform:scale(1.2, 1.2); -o-transform:scale(1.2, 1.2); transform:scale(1.2, 1.2); }
.nicdark_zoom{ -webkit-transform:scale(1.2, 1.2); -o-transform:scale(1.2, 1.2); transform:scale(1.2, 1.2); }


/* 41 - opacity*/
.nicdark_opacity{
opacity: 1;
-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 250ms;
-moz-transition: opacity;
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 250ms;
}
.nicdark_opacity:hover{
opacity: 0.8;
-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 250ms;
-moz-transition: opacity;
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 250ms;
}


/*fadeout*/
.nicdark_fadeinout .nicdark_fadeout{
opacity: 1;
-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
-moz-transition: opacity;
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 500ms;
}
.nicdark_fadeinout:hover .nicdark_fadeout{
opacity: 0;
z-index: 1;
-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
-moz-transition: opacity;
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 500ms;
}

/*fadein*/
.nicdark_fadeinout .nicdark_fadein{
opacity: 0;
-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
-moz-transition: opacity;
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 500ms;
}
.nicdark_fadeinout:hover .nicdark_fadein{
opacity: 1;
z-index: 2;
-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
-moz-transition: opacity;
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 500ms;
}

/*zoom image works with nicdark_fadeinout */
.nicdark_fadeinout .nicdark_zoom_image { -webkit-transition:all 3000ms; -o-transition:all 500ms; transition:all 3000ms; }
.nicdark_fadeinout:hover .nicdark_zoom_image{ 
    -webkit-transform:rotate(3deg) scale(1.2, 1.2); 
    -o-transform:rotate(3deg) scale(1.2, 1.2); 
    transform:rotate(3deg) scale(1.2, 1.2); }


/* 42 - TRANSITION*/
.nicdark_transition{ -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease; }


/* 43 - START NICDARKBGHOVER*/
.nicdark_bg_grey_hover:hover{ background-color: #fafafa !important; }
.nicdark_bg_grey2_hover:hover{ background-color: #eeeeee !important; }
.nicdark_bg_greydark_hover:hover{ background-color: #585858 !important;}
.nicdark_bg_greydark2_hover:hover{ background-color: #6c6975 !important;}
.nicdark_bg_green_hover:hover{ background-color: #d19fae !important; }
.nicdark_bg_blue_hover:hover{ background-color: #cd98a8 !important; }
.nicdark_bg_violet_hover:hover { background-color: #c792a2 !important; }
.nicdark_bg_orange_hover:hover{ background-color: #e4d0c2 !important; }
.nicdark_bg_red_hover:hover{ background-color: #c38e9e !important; }
.nicdark_bg_yellow_hover:hover{ background-color: #e4e3c2 !important; }
.nicdark_bg_greendark_hover:hover{ background-color: #afceba !important; }
.nicdark_bg_bluedark_hover:hover{ background-color: #afcece !important; }
.nicdark_bg_violetdark_hover:hover{ background-color: #c4afce !important; }
.nicdark_bg_orangedark_hover:hover{ background-color: #e3bea5 !important; }
.nicdark_bg_reddark_hover:hover{ background-color: #ceafb5 !important; }
.nicdark_bg_yellowdark_hover:hover{ background-color: #cecdaf !important; }


/***************************************************CSS FOR CUSTOM REV SLIDER***********************************************************************/

.nicdark_slide1 > ul { position: absolute; z-index: 0;}
#nicdark_slide2 > ul li { z-index: 0 !important;}

.tp-caption.nicdarknamebigwhite,.nicdarknamebigwhite{font-size:100px;line-height:80px;font-family:"Great Vibes";color:#ffffff;text-decoration:none;background-color:transparent;border-width:0px;border-color:rgb(164,193,193);border-style:none}
.tp-caption.nicdarkdateslide,.nicdarkdateslide{font-size:30px;font-weight:bolder;font-family:"Cinzel Decorative",cursive;color:rgb(255,255,255);text-decoration:none;background-color:transparent;border-width:0px;border-color:rgb(145,141,156);border-style:none}


/***************************************************JQUERY UI***********************************************************************/


/* 44 - START NICDARKCALENDAR*/
.ui-datepicker{ float: left; width: 300px; position: relative;}
.grid .ui-datepicker{ float: left; width: 100%; }
/*header*/
.ui-datepicker-header{ background-color: #585858; float: left; width: 100%; }
.ui-datepicker-title { float: left; width: 100%; padding: 15px 0px; text-align: center; font-size: 17px; line-height: 17px; font-family: 'Cinzel', sans-serif; font-weight: 300; color: #fff; text-transform: uppercase; }
/*arrows*/
.ui-datepicker-prev span, .ui-datepicker-next span{ display: none; }
.ui-datepicker-prev{ position: absolute; left:0; top: 15px; margin-left: 20px; }
.ui-datepicker-prev:before{ content: '\e8c3' !important; font-family: 'fontello'; color: #fff; cursor: pointer; }
.ui-datepicker-next{ position: absolute; right:0; top: 15px; margin-right: 20px; }
.ui-datepicker-next:before{ content: '\e8c4' !important; font-family: 'fontello'; color: #fff; cursor: pointer; }
/*days*/
.ui-datepicker-calendar{ float: left; width: 100%; border-collapse: collapse; text-align: center; background-color: #fafafa; }
.ui-datepicker-calendar thead{ background-color: #afceba; color: #fff; font-size: 13px; line-height: 13px; font-family: 'Cinzel', sans-serif; font-weight: normal; text-transform: uppercase; }
.ui-datepicker-calendar tbody{ border-bottom: 1px solid #eee; border-left: 1px solid #eee; }
.ui-datepicker-calendar th{ font-weight: normal; padding: 15px 10px; }
.ui-datepicker-calendar td{ font-weight: normal; box-shadow:inset -1px 1px 0px 0px #eeeeee}
.ui-datepicker-calendar td a{ font-size: 13px; padding: 10px 10px; line-height: 15px; color: #b7b7b7; display: block; font-family: 'Halant', sans-serif;}
/*today*/
.ui-datepicker-today a { color: #fff !important; background-color: #afceba;}
.ui-datepicker-other-month {  }
/*hover*/
.ui-datepicker-calendar .ui-state-hover{ color: #fff !important; background-color: #afceba; }
/*END NICDARKCALENDAR*/



/* 45 - START NICDARKTOOLTIP*/
.ui-tooltip{ font-family: 'Halant', sans-serif; position: absolute; background: rgba(120,117,129,0.9); color: #fff; margin: 0px; padding: 0px; padding: 10px 20px; font-size: 13px; outline: 0; -webkit-appearance: none; border: 0; font-weight: 300;}
/*END NICDARKTOOLTIP*/



/* 46 - START NICDARKSLIDERRANGE*/
/*color and style nicdark_price_range*/
.nicdark_price_range.ui-slider .ui-slider-handle { background-color: #585858; width: 15px; height: 15px; bottom: -8px; border: 1px solid #afcece;}
.nicdark_price_range.ui-slider .ui-slider-range { background-color: #6c6975; bottom: -2px; }
.nicdark_price_range.ui-slider { height: 1px; }
/*color and style nicdark_slider_range*/
.ui-slider .ui-slider-handle { background-color: #e4e3c2; width: 20px; height: 20px; bottom: -8px;}
.ui-slider .ui-slider-range { background-color: #cecdaf; }
.ui-slider { height: 5px; }
/*basic*/
.ui-slider { position: relative; text-align: left; float: left; width: 100%; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2;cursor: pointer; -ms-touch-action: none; touch-action: none; border-radius: 100%;outline: 0;}
.ui-slider .ui-slider-range {position: absolute;z-index: 1;font-size: .7em;display: block;border: 0;background-position: 0 0; height: 5px; }




/*END NICDARKSLIDERRANGE*/