h1, h2, h3, h4, h5, h6, input[type="text"], textarea, select {
    font-family: "minion-pro",serif;
       color: #a4a4a4;
    font-weight: 300;
    /*text-transform: uppercase;*/
}
p {
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
}
h1.signature, h2.signature, h3.signature, h4.signature, h5.signature, h6.signature, span.signature {
    font-family: "bickham-script-pro-3",sans-serif;
    font-style: normal;
    font-weight: 400;
}
.nicdark_btn.title {
    font-family: "minion-pro",serif!important;
}

.nicdark_menu a {
    text-decoration: none;
    zoom: 1;
    font-family: "minion-pro",serif!important;
}

.map-button {
    background-color: #d19fae;
}

.map-button:hover, .map-button.active {
    background-color: #585858;
    cursor: pointer;
}